@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Gold Gradient for BharatSwap */
.bg-gold-gradient {
  background: linear-gradient(135deg, #fbbf24 0%, #d97706 100%);
}

.text-gold {
  color: #fbbf24;
}
